.group-create-wrapper {
  margin-right: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}

.group-create-button {
  padding: 10px 20px;
  font-size: 16px;
  color: black;
  background-color: #eee;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.group-create-button:hover {
  background-color: #ccc;
}
